In [ ]:
Q1 read_csv(): This function is used to read data from a CSV file into a pandas DataFrame.

import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('data.csv')
head(): This function is used to display the first few rows of a DataFrame.

# Display the first 5 rows of the DataFrame
print(df.head())
describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, std deviation, min, max, etc.

# Generate descriptive statistics of the DataFrame
print(df.describe())
groupby(): This function is used to group data in a DataFrame based on specified columns.

# Group data based on the 'category' column and calculate the mean of other columns
grouped_data = df.groupby('category').mean()
print(grouped_data)
to_csv(): This function is used to write a DataFrame to a CSV file.

# Write the DataFrame to a CSV file
df.to_csv('output.csv', index=False)

In [ ]:
Q2 You can achieve this by using the reset_index() function in pandas along with a custom index creation logic. Here's a Python function that accomplishes this task:
import pandas as pd

def reindex_dataframe(df):
    # Reset the index of the DataFrame
    df_reset_index = df.reset_index(drop=True)
    
    # Create a new index starting from 1 and incrementing by 2
    new_index = pd.Series(range(1, len(df_reset_index)*2, 2))
    
    # Assign the new index to the DataFrame
    df_reset_index.index = new_index
    
    return df_reset_index

In [1]:
import pandas as pd

In [7]:
Q3 df=pd.DataFrame({"values":[10,20,30,40,50]})
print(df)

   values
0      10
1      20
2      30
3      40
4      50

In [14]:
df['values'].iloc[:3].sum()

60

In [ ]:
Q4 You can accomplish this by using the apply() function along with a lambda function to calculate the word count for each row in the 'Text' column. Here's a Python function that adds a new column 'Word_Count' to the DataFrame with the number of words in each row of the 'Text' column:
import pandas as pd

def add_word_count_column(df):
    # Create a new column 'Word_Count' containing the number of words in each row of the 'Text' column
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

    return df

# Example usage:
# Assuming df is your DataFrame with a column named 'Text'
# df = pd.DataFrame({'Text': ['This is a sample text.', 'Another example', 'A third sentence']})
# df = add_word_count_column(df)
# print(df)

In [ ]:
Q5 
In pandas, DataFrame.size and DataFrame.shape are two different attributes that provide information about the dimensions of a DataFrame, but they serve different purposes.

DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame, which is equivalent to the product of the number of rows and the number of columns.
It counts all elements, including missing values (NaNs).
It returns a single integer value representing the total size of the DataFrame.
Example:
import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

print(df.size)  # Output: 6 (3 rows * 2 columns)
DataFrame.shape:

DataFrame.shape returns a tuple representing the dimensions of the DataFrame, where the first element is the number of rows and the second element is the number of columns.
It does not count missing values (NaNs).
It provides more detailed information about the structure of the DataFrame compared to DataFrame.size.
Example:

import pandas as pd

# Creating a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

print(df.shape)  # Output: (3, 2) (3 rows, 2 columns)

In [ ]:
Q6 In pandas, the function used to read an Excel file is pd.read_excel(). This function reads the data from an Excel file into a pandas DataFrame.

Here's how you can use it:


import pandas as pd

# Read an Excel file into a DataFrame
df = pd.read_excel('example.xlsx')

# Now you can work with the DataFrame 'df'

In [ ]:
Q7 You can achieve this by using the str.split() method along with a lambda function to split each email address at the '@' symbol and then accessing the first part of the split (i.e., the username). Here's a Python function that adds a new column 'Username' to the DataFrame by extracting the username from the 'Email' column:

import pandas as pd

def extract_username(df):
    # Extract the username from each email address and store it in the 'Username' column
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])

    return df

# Example usage:
# Assuming df is your DataFrame with a column named 'Email'
# df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com']})
# df = extract_username(df)
# print(df)

In [33]:
Q8 import pandas as pd

In [32]:
df=pd.DataFrame({"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]})
print(df)
df.loc[1]
df.loc[4]

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

A    9
B    1
C    2
Name: 4, dtype: int64

In [34]:
Q9 import pandas as pd

In [37]:
df2=pd.DataFrame({"values":[10,20,30,40,50]})
print(df2)
df.describe()

   values
0      10
1      20
2      30
3      40
4      50

             A         B         C
count  5.00000  5.000000  5.000000
mean   5.60000  4.000000  3.800000
std    3.04959  3.162278  2.387467
min    2.00000  1.000000  1.000000
25%    3.00000  2.000000  2.000000
50%    6.00000  3.000000  4.000000
75%    8.00000  5.000000  5.000000
max    9.00000  9.000000  7.000000

In [ ]:
Q10
You can accomplish this using the rolling() function in pandas to compute the rolling window of the desired size (7 days in this case) and then applying the mean() function to calculate the moving average. Here's how you can do it:
import pandas as pd

def add_moving_average_column(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Sort the DataFrame by date if it's not already sorted
    df = df.sort_values(by='Date')

    # Calculate the moving average using a rolling window of size 7 and including the current day
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

In [ ]:
Q11 You can achieve this by using the dt.strftime() method in pandas to format the 'Date' column as the weekday name. Here's a Python function that adds a new column 'Weekday' to the DataFrame with the weekday name corresponding to each date in the 'Date' column:
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Add a new column 'Weekday' containing the weekday name
    df['Weekday'] = df['Date'].dt.strftime('%A')

    return df

In [ ]:
Q12 You can achieve this by first converting the 'Date' column to datetime format and then using boolean indexing to select the rows where the date falls within the specified range. Here's a Python function that selects all rows from the DataFrame where the date is between '2023-01-01' and '2023-01-31':
import pandas as pd

def select_rows_between_dates(df):
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Define the start and end dates
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    # Use boolean indexing to select rows between the specified dates
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return selected_rows

In [ ]:
Q13